{% extends "base.html.twig" %}

 {% form_theme form 'form_table_layout.html.twig' %}

{% block body %}

    <a href="{{ path('contacts_index') }}"><< Contacts</a>

    <fieldset>
        <legend>New Contact</legend>
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </fieldset>

{% endblock %}
